/* CONTENEDOR */

.container{
    max-width: 640px;
    margin: auto;
    font-family: sans-serif;
}

body {
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

*:focus {
    outline: none;
}

/* INPUTS */

input{
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
}

::placeholder{
    color: white;
}

input:disabled::-webkit-input-placeholder{ 
    color: rgb(150, 149, 149);
}

input:disabled:hover{
    transition: ease 0.2s;
    border-bottom: 0.5px solid #bb46ff9f;
}

input:hover{
    transition: ease 0.2s;
    border-bottom: 1px solid rgb(255, 255, 255);
}

input:focus{
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* SUB CONTENEDOR */

.sub-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.block{
    margin-top: 10px;
    color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:rgba(17,25,40,0.65);
    border-radius:12px;
    border: 1px solid rgba(255, 255, 255, 0,125);   
}

/* BOTONES */

.button{
    font-size: 15px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    background-color: #bb46ff9f;
    color: white;
}

/* MODULE 1 - CLIENTE */

.client-info{
    width: 50%;
    padding: 5px 15px 20px 20px;
    margin-right: 5px;
}

.client-input{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

/* MODULE 2 - EMPRESA */

.company-info{
    width: 50%;
    padding: 5px 15px 20px 20px;
}

/* MODULE 3 - FECHAS */

.dates{
    padding: 15px 10px 15px 25px;
}

.date-inputs{
    display: flex;
    justify-content: center;
}

.date-inputs p{
    display: flex;
    justify-content: center;
}

.date-input-inic{
    margin-right: 100px;
}

.date-button{
    text-align: center;
}

.date-button .button{
    margin-top: 10px;
}

/* MODULE 4 - RESULTADOS */

.results-container{
width: 100%;
}

.results{
padding: 1px 0px 10px 0px;
margin-bottom: 15px;
}

.results-tittle{
margin: auto;
padding-left: 20px;
border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
}

.results p{
    font-weight: bold;
    font-size: larger;
}

.results-list{
    margin: auto;
    padding: 10px 35px;
}

.results-list li{
list-style-type: none;
}

.person{
margin-bottom: 10px;
border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
}

.person-experience{
    display: flex;
    padding-bottom: 10px;
}

.experience-data{
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.experience-data li{
    list-style: "↪ ";
    padding-bottom: 2px;
}

.deploy-button{
    margin-left: 10px;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255, 0.30);
    border-radius: 5px;
}

.deploy-button:hover{
    transition: 0.2s;
    color: rgba(17,25,40,0.65);
    background-color: white;
}

/* DROPDOWN */

.dropdown{
    float: right;
    display: flex;
}

.dropbtn{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
}

/* Links inside the dropdown */
.dropdown-content a{
    margin: 5px;
    padding: 12px;
    color: black;
    text-decoration: none;
    display: block;
    border: 2px solid black;
    border-radius: 50%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    opacity: 70%;
    border-radius: 50%;
    transition: all ease 0.1s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* THEMES */

.themesBtn {margin: 0;}

.blackOption {background-color: black;}
.redOption {background-color: red;}
.blueOption {background-color: blue;}
.greenOption {background-color: green;}
.pinkOption {background-color: pink;}

.pink .themesBtn {background-color: pink;}
.black .themesBtn {background-color: black;}
.red .themesBtn {background-color: red;}
.blue .themesBtn {background-color: blue;}
.green .themesBtn {background-color: green;}

@keyframes bgcolorBlack {
    0% {
        background-color: black
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}
@keyframes bgcolorRed {
    0% {
        background-color: red
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}
@keyframes bgcolorBlue {
    0% {
        background-color: blue
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}
@keyframes bgcolorGreen {
    0% {
        background-color: green
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}
@keyframes bgcolorPink {
    0% {
        background-color: #bb46ff9f
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}

.black{
    -webkit-animation: bgcolorBlack 20s infinite;
    animation: bgcolorBlack 10s infinite;
}

.red{
    -webkit-animation: bgcolorRed 20s infinite;
    animation: bgcolorRed 10s infinite;
}

.blue{
    -webkit-animation: bgcolorBlue 20s infinite;
    animation: bgcolorBlue 10s infinite;
}

.green{
    -webkit-animation: bgcolorGreen 20s infinite;
    animation: bgcolorGreen 10s infinite;
}

.pink{
    -webkit-animation: bgcolorPink 20s infinite;
    animation: bgcolorPink 10s infinite;
}

/* ABOUT */ 

.aboutBtn {background: transparent;}

.aboutBtn:hover {background-color: #fffdfdb3;}