/* CONTENEDOR */

.container{
    max-width: 640px;
    margin: auto;
    font-family: sans-serif;
    /* background-image: url(https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM=);
    background-repeat: no-repeat;
    background-size: cover; */
}

@keyframes bgcolor {
    0% {
        background-color: #bb46ff9f
    }

    30% {
        background-color: #f946ff9f
    }

    60% {
        background-color: #ff46ff9f
    }

    90% {
        background-color: #f946ff9f
    }

    100% {
        background-color: #bb46ff9f
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

*:focus {
    outline: none;
}

/* INPUTS */

input{
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
}

::placeholder{
    color: white;
}

input:disabled::-webkit-input-placeholder{ 
    color: rgb(150, 149, 149);
}

input:disabled:hover{
    transition: ease 0.2s;
    border-bottom: 0.5px solid #bb46ff9f;
}

input:hover{
    transition: ease 0.2s;
    border-bottom: 1px solid rgb(255, 255, 255);
}

input:focus{
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* SUB CONTENEDOR */

.sub-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.block{
    margin-top: 10px;
    color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:rgba(17,25,40,0.65);
    border-radius:12px;
    border: 1px solid rgba(255, 255, 255, 0,125);   
}

/* BOTONES */

.button{
    font-size: 15px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    background-color: #bb46ff9f;
    color: white;
}


/* BLOQUE 1 - CLIENTE */

.client-info{
    width: 50%;
    padding: 5px 15px 20px 20px;
    margin-right: 5px;
}

.client-input{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

/* BLOQUE 2 - EMPRESA */

.company-info{
    width: 50%;
    padding: 5px 15px 20px 20px;
}

/* BLOQUE 3 - FECHAS */

.dates{
    padding: 15px 10px 15px 25px;
}

.date-inputs{
    display: flex;
    justify-content: center;
}

.date-inputs p{
    display: flex;
    justify-content: center;
}

.date-input-inic{
    margin-right: 100px;
}

.date-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#date-button-ag{
    margin-right: 190px;
}

 /* BLOQUE 4 - RESULTADOS */

 .results-container{
    width: 100%;
 }

.results{
    padding: 1px 0px 10px 0px;
    margin-bottom: 15px;
}

 .results-tittle{
    margin: auto;
    padding-left: 20px;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
 }

 .results p{
     font-weight: bold;
     font-size: larger;
 }

 .results-list{
     margin: auto;
     padding: 10px 35px;
 }

 .results-list li{
    list-style-type: none;
 }

.person{
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.30);
}

 .person-experience{
     display: flex;
     padding-bottom: 10px;
 }

 .experience-data{
     padding-bottom: 8px;
     margin-bottom: 10px;
 }

 .experience-data li{
     list-style: "↪ ";
     padding-bottom: 2px;
 }

 .deploy-button{
     margin-left: 10px;
     color: white;
     font-weight: bolder;
     background-color: transparent;
     border: 0.5px solid rgb(255, 255, 255, 0.30);
     border-radius: 5px;
 }

 .deploy-button:hover{
     transition: 0.2s;
     color: rgba(17,25,40,0.65);
     background-color: white;
 }